<ul>
    <li>ID: {{coin?.id}}</li>
    <li>SYMBOL: {{coin?.symbol}}</li>
    <li>NAME: {{coin?.name}}</li>
    <li>DESCRIPTION: {{coin?.description}}</li>
    <li>HOMEPAGE: {{coin?.homepage}}</li>
    <li>IMAGE: {{coin?.imageLarge}}</li>
    <li>CONTRACT ADDRESS: {{coin?.contractAddress}}</li>
    <li>CURRENT PRICE BTC: {{coin?.currentPriceBTC}}</li>
    <li>CURRENT PRICE EUR: {{coin?.currentPriceEUR}}</li>
    <li>CURRENT PRICE USD: {{coin?.currentPriceUSD}}</li>

</ul>

<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <label for="amount">Amount: </label><br>
      <input formControlName="amount" type="number" name="amount"><br>
      <p class="error-msg" *ngIf="amountField.invalid && amountField.touched">Amount is required</p>

      <label for="portfolio">Portfolio: </label> <br>
      <select formControlName="portfolio" name="portfolio" [(ngModel)]="selectedPortfolio">
          <option *ngFor="let portfolio of portfolios" [ngValue]="portfolio">{{portfolio.name}}</option>
      </select>
      <p class="error-msg" *ngIf="portfolioField.invalid && portfolioField.touched">Portfolio is required</p>
      <br><br>


      <br>
      <button type="submit" [disabled]="form.invalid">Add position</button>
  
    </form>
  </div>