<div class="container">
  <img src="{{coin?.imageSmall}}">
  <h2>{{coin?.name}} ({{coin?.symbol?.toUpperCase()}})</h2>
<ul>
    <!-- <li>ID: {{coin?.id}}</li> -->
    <li>Symbol: {{coin?.symbol?.toUpperCase()}}</li>
    <li>Name: {{coin?.name}}</li>
    <li>Description: {{coin?.description}}</li>
    <li>Homepage: <a target="_blank" href="{{coin?.homepage}}">{{coin?.homepage}}<mat-icon>open_in_new</mat-icon></a></li>
    <!-- <li>IMAGE: {{coin?.imageLarge}}</li> -->
    <!-- <li>CONTRACT ADDRESS: {{coin?.contractAddress}}</li> -->
    <li>Price (BTC): {{coin?.currentPriceBTC}} BTC</li>
    <li>Price (EUR): {{coin?.currentPriceEUR}} EUR</li>
    <li>Price (USD): {{coin?.currentPriceUSD}} USD</li>

</ul>
</div>

<div class="container">
  <p>Add {{coin?.symbol?.toUpperCase()}} position</p>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <!-- <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="number" step="any" matInput [formControl]="amountField" placeholder="Ex. 1.0">
        <mat-error *ngIf="amountField.invalid">
          Please enter a valid amount
        </mat-error>
      </mat-form-field>
      <br><br> -->
      <label for="amount">Amount: </label><br>
      <input formControlName="amount" type="number" step="any" name="amount"><br>
      <p class="error-msg" *ngIf="amountField.invalid && amountField.touched">Amount is required</p>

      <label for="portfolio">Portfolio: </label> <br>
      <select formControlName="portfolio" name="portfolio">
          <option *ngFor="let portfolio of portfolios" [ngValue]="portfolio">{{portfolio.name}}</option>
      </select>
      <p class="error-msg" *ngIf="portfolioField.invalid && portfolioField.touched">Portfolio is required</p>
      <br>
      <button type="submit" [disabled]="form.invalid">Add position</button>
  
    </form>
  </div>