<ul>
    <li>ID: {{coin?.id}}</li>
    <li>SYMBOL: {{coin?.symbol}}</li>
    <li>NAME: {{coin?.name}}</li>
    <li>DESCRIPTION: {{coin?.description}}</li>
    <li>HOMEPAGE: {{coin?.homepage}}</li>
    <li>IMAGE: {{coin?.imageLarge}}</li>
    <li>CONTRACT ADDRESS: {{coin?.contractAddress}}</li>
    <li>CURRENT PRICE BTC: {{coin?.currentPriceBTC}}</li>
    <li>CURRENT PRICE EUR: {{coin?.currentPriceEUR}}</li>
    <li>CURRENT PRICE USD: {{coin?.currentPriceUSD}}</li>

</ul>

<!-- <hr> -->
<!-- <app-search></app-search> -->