<div class="container">
    <h3><a [routerLink]="['/portfolios/', portfolio.id]">{{portfolio.name}}</a> ({{totalValue.toFixed(2)}} EUR)</h3>
<ul>
    <!-- <li>Total value: {{totalValue.toFixed(2)}} EUR</li> -->
    <!-- <li>Name: <a [routerLink]="['/portfolios/', portfolio.id]">{{portfolio.name}}</a></li> -->
    <li>{{portfolio.description}}</li>
    <li *ngIf="portfolio.positions.length">Includes: 
        <ul>
            <li *ngFor="let coin of coinSymbols.slice(0,3); let i=index">{{coin}} <img src={{coinLogosUrl[i]}}></li>
        </ul>
        <!-- <span *ngFor="let coin of coinSymbols.slice(0,3)">{{coin}} </span></li>
    <li *ngIf="coinLogosUrl.length"><img *ngFor="let logoUrl of coinLogosUrl.slice(0,3)" src={{logoUrl}}></li> -->
    </li>    

    <br>
    <button (click)="onDeletePortfolio(portfolio)">Delete portfolio</button>
</ul>
</div>