<div>
    <h2>{{portfolio?.name}}</h2>
    <p>{{portfolio?.description}}</p>
    <div class="positions">
        <div *ngFor="let position of portfolio?.positions">
            <app-position-details [position]="position" 
             (updatePositionEvent)="updatePosition(position, $event)"
             (deletePositionEvent)="deletePosition($event)"
             (deletePositionUpdateEvent)="deletePositionUpdate(position, $event)"></app-position-details>
        </div>    
    </div>
    <a [routerLink]="['/portfolios/']">Go back to portfolios</a>
</div>

<!-- 
<div>
    <h2>{{portfolio?.name}}</h2>
    <p>{{portfolio?.description}}</p>
    <div class="positions">
        <ul>
            <li *ngFor="let position of portfolio?.positions">
                <ul>
                    <li>Coin: {{position.coinId}}</li>
                    <li>Amount: {{position.amount}}</li>
                    <li>
                        <ul>
                            <li *ngFor="let update of position.updates">
                                {{update.timestamp}} | {{update.description}} | {{update.amount}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>    
    </div>
    <a [routerLink]="['/portfolios/']">Go back to portfolios</a>
</div> -->